<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.CodeListActivity"></activity>
        <activity android:name=".UI.Add_Code" />
        <activity android:name=".UI.Categories_Parent_Sub1" />
        <activity android:name=".UI.addBrands" />
        <activity android:name=".UI.update_Categories" />
        <activity android:name=".UI.categoriesList" />
        <activity android:name=".UI.updateProduct" />
        <activity android:name=".UI.product_page" />
        <activity
            android:name=".UI.add_Category"
            android:label="@string/title_activity_add__category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".UI.post" />
        <activity android:name=".UI.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>